{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":5},"action":"insert","lines":["__pycache__/","*.pyc",".env","venv/"],"id":1}],[{"start":{"row":0,"column":0},"end":{"row":3,"column":5},"action":"remove","lines":["__pycache__/","*.pyc",".env","venv/"],"id":2},{"start":{"row":0,"column":0},"end":{"row":3,"column":4},"action":"insert","lines":["venv/","__pycache__/","*.pyc",".env"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":4},"end":{"row":3,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1775755141013,"hash":"ed3891c2761d56ed9bfdce5cb0e7d923d5f9146c"}