{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":5},"action":"insert","lines":["__pycache__/","*.pyc",".env","venv/"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":5},"end":{"row":3,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1775754220653,"hash":"c2e6eb4ff94ac3ffd1ea708134d41051c8fc5bb7"}